/* line 17, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ------------------------------------------------------------------------- */
/* Common colours */
/* ------------------------------------------------------------------------- */
/* Mixins */
/* ------------------------------------------------------------------------- */
/* Typography */
/* line 61, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* ------------------------------------------------------------------------- */
/* Forms */
/* line 48, sass/_common.sass */
.grey-button {
  font-family: "Open Sans", "Helvetica Neue", arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  width: 7.726%;
  float: left;
  margin-right: 0.662%;
  display: inline;
  background: #ffcf7d url('/css/img/line-hash.png?1341949422') 0 0 repeat;
  border: 1px solid rgba(0, 0, 0, 0.27);
  display: block;
  height: 43px;
  outline: 0;
  cursor: pointer;
  text-shadow: 0 1px 0 white, 0 0 5px rgba(0, 0, 0, 0.05);
}
/* line 52, sass/_common.sass */
.grey-button:hover {
  background: url('/css/img/button-grey-css3.png?1341949422') 0 -43px;
}
/* line 55, sass/_common.sass */
.grey-button:active {
  background: url('/css/img/button-grey-css3.png?1341949422') 0 -86px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08), inset 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.08), inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08), inset 0 0 4px rgba(0, 0, 0, 0.2);
}

/* line 59, sass/_common.sass */
input[type=text], input[type=password], input[type=email] {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Open Sans", "Helvetica Neue", arial, sans-serif;
  padding: 0;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
  width: 100%;
  max-width: 100%;
  border: 1px solid #c2c2c2;
  text-indent: 0.5em;
}
/* line 70, sass/_common.sass */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.175), 0 0 7px rgba(0, 191, 243, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.175), 0 0 7px rgba(0, 191, 243, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.175), 0 0 7px rgba(0, 191, 243, 0.8);
  outline: 0;
}

/* ------------------------------------------------------------------------- */
/* Layout */
/* line 77, sass/_common.sass */
.container {
  *zoom: 1;
  max-width: 113.25em;
  _width: 113.25em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75em;
  padding-right: 0.75em;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../tonyhb/.rvm/gems/ruby-1.9.3-p194@epithet/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* ------------------------------------------------------------------------- */
/* Styles */
/* line 84, sass/_common.sass */
html {
  background: url('/css/img/body.png?1341949422') 0 0 repeat;
  font-family: "Open Sans", "Helvetica Neue", arial, sans-serif;
  color: #1c140d;
}

/* line 90, sass/_common.sass */
body {
  background: url('/css/img/colour-line.png?1341949422') 0 -2px repeat-x;
}

/* ------------------------------------------------------------------------- */
/* Styles */
/* line 11, ../../sass/admin.sass */
nav {
  background: white;
}

/* line 14, ../../sass/admin.sass */
header, #menu li, #menu li a {
  height: 62px;
}

/* line 17, ../../sass/admin.sass */
header {
  background: #fcf9f7;
  border-bottom: 1px solid #e0d7d0;
}

/* line 22, ../../sass/admin.sass */
#menu li.active {
  background: #cdf181;
}
/* line 24, ../../sass/admin.sass */
#menu li.active a {
  background: url('/css/img/line-hash.png?1341949422') 0 0 repeat;
  color: #3d4826;
}
/* line 27, ../../sass/admin.sass */
#menu li {
  float: left;
  line-height: 90px;
  font-size: 0.7em;
  font-weight: bold;
}
/* line 33, ../../sass/admin.sass */
#menu li a {
  display: block;
  color: #7c8368;
  text-decoration: none;
  padding: 0 2em;
  outline: none;
}

/* line 40, ../../sass/admin.sass */
#omnibox {
  height: 30px;
  width: 330px;
  border: 1px solid #e3dbd3;
  background: white;
  margin: 14px 0 0 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  float: right;
}
/* line 49, ../../sass/admin.sass */
#omnibox input {
  border: 0 none;
  height: 30px;
  width: 330px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
/* line 54, ../../sass/admin.sass */
#omnibox input:focus {
  outline: 0 none;
}

/* line 57, ../../sass/admin.sass */
section.main {
  background: white;
  padding: 30px 0;
}

/* line 61, ../../sass/admin.sass */
h1 {
  color: #4d3724;
  font-size: 1.2em;
  font-weight: bold;
}
