[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/hint"]
	path = modules/hint
	url = git://github.com/goyote/hint.git
[submodule "modules/mundo"]
	path = modules/mundo
	url = git://github.com/dynamism/Mundo.git
[submodule "modules/uuid"]
	path = modules/uuid
	url = https://github.com/shadowhand/uuid.git
[submodule "public_html/css/bootstrap"]
	path = public_html/css/bootstrap
	url = git://github.com/twitter/bootstrap.git
